# Unreal generated
Binaries/
Intermediate/
Saved/
DerivedDataCache/
Build/
Plugins/**/Binaries/
Plugins/**/Intermediate/

# IDE
.vs/
.vscode/
.idea/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# OS
Thumbs.db
.DS_Store
